In [1]:
#libraries

#Data wrangling tools
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# datadotworld SDK
import datadotworld as ddw

import time

In [2]:
# Data input

mortdf = pd.read_csv('death.csv')
incddf = pd.read_csv('incd.csv')

In [3]:
mortdf.head()

,State,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Death Rate([rate note]) - deaths per 100,000",Lower CI (Rate),Upper CI (Rate),CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,United States,0,***,38.5,38.4,38.6,N/A,N/A,N/A,149208,falling,-5,-5.4,-4.5
1,"Union County, Florida",12125,***,147.9,122.8,176.9,N/A,1,1,27,stable,-0.4,-1.7,0.9
2,"Galax City, Virginia",51640,***,120.8,91.3,158.1,N/A,1,5,12,rising,18.9,1.1,39.8
3,"Carroll County, Kentucky",21041,***,108.1,83.9,137.6,N/A,1,52,14,stable,1.3,-0.1,2.7
4,"Breathitt County, Kentucky",21025,***,101.3,80.8,125.8,N/A,1,55,18,stable,-0.9,-2.5,0.8

In [4]:
mortdf.describe()

               FIPS
count   3142.000000
mean   30405.524507
std    15173.955130
min        0.000000
25%    18179.500000
50%    29178.000000
75%    45082.500000
max    72001.000000

In [5]:
incddf.head()

,State,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,US (SEER+NPCR)(1),0,***,58.3,58.2,58.4,N/A,N/A,N/A,221568,falling,-2,-2.2,-1.9
1,"Union County, Florida(6)",12125,***,196.3,168.2,228.1,N/A,1,1,38,falling,-2.2,-4.1,-0.2
2,"Owsley County, Kentucky(7)",21189,***,164.7,122.8,218.2,N/A,1,61,11,stable,2.1,-0.6,4.8
3,"Breathitt County, Kentucky(7)",21025,***,149.1,123.9,178.3,N/A,1,36,26,stable,1.4,-1.9,4.9
4,"Hardin County, Illinois(6)",17069,***,133.6,96.4,183.8,N/A,1,49,9,*,*,*,*

In [6]:
incddf.describe()

               FIPS
count   3142.000000
mean   30405.524507
std    15173.955130
min        0.000000
25%    18179.500000
50%    29178.000000
75%    45082.500000
max    72001.000000

In [7]:
mortdf[' FIPS'] = mortdf[' FIPS'].apply(lambda x: str(int(x))).astype(np.object_).str.pad(5,'left','0')

In [8]:
#Aligning FIPS name correctly in the dataframe
mortdf.rename(columns={" FIPS": "FIPS"},inplace=True)
mortdf.head()

,State,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Death Rate([rate note]) - deaths per 100,000",Lower CI (Rate),Upper CI (Rate),CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,United States,00000,***,38.5,38.4,38.6,N/A,N/A,N/A,149208,falling,-5,-5.4,-4.5
1,"Union County, Florida",12125,***,147.9,122.8,176.9,N/A,1,1,27,stable,-0.4,-1.7,0.9
2,"Galax City, Virginia",51640,***,120.8,91.3,158.1,N/A,1,5,12,rising,18.9,1.1,39.8
3,"Carroll County, Kentucky",21041,***,108.1,83.9,137.6,N/A,1,52,14,stable,1.3,-0.1,2.7
4,"Breathitt County, Kentucky",21025,***,101.3,80.8,125.8,N/A,1,55,18,stable,-0.9,-2.5,0.8

In [9]:
incddf[' FIPS'] = incddf[' FIPS'].apply(lambda x: str(int(x))).astype(np.object_).str.pad(5,'left','0')
incddf.rename(columns={" FIPS":"FIPS"},inplace=True)
incddf.FIPS

0       00000
1       12125
2       21189
3       21025
4       17069
5       21121
6       21197
7       21041
8       21193
9       21071
10      21147
11      02185
12      21051
13      21235
14      21095
15      51640
16      47095
17      54059
18      21131
19      29129
20      21011
21      21159
22      05111
23      21135
24      05075
25      29133
26      29187
27      21023
28      21195
29      21065
        ...
3112    27157
3113    20197
3114    02270
3115    27159
3116    53069
3117    20199
3118    27161
3119    08121
3120    20201
3121    27163
3122    27165
3123    49055
3124    13307
3125    30107
3126    31183
3127    41069
3128    30109
3129    20203
3130    27167
3131    20205
3132    27169
3133    20207
3134    29227
3135    27171
3136    20209
3137    02282
3138    27173
3139    48505
3140    48507
3141    46137
Name: FIPS, Length: 3142, dtype: object

In [10]:
mortdf = mortdf[mortdf.FIPS.notnull()]

In [11]:
incddf = incddf[incddf.FIPS.notnull()]

In [12]:
mortdf.head()

,State,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Death Rate([rate note]) - deaths per 100,000",Lower CI (Rate),Upper CI (Rate),CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,United States,00000,***,38.5,38.4,38.6,N/A,N/A,N/A,149208,falling,-5,-5.4,-4.5
1,"Union County, Florida",12125,***,147.9,122.8,176.9,N/A,1,1,27,stable,-0.4,-1.7,0.9
2,"Galax City, Virginia",51640,***,120.8,91.3,158.1,N/A,1,5,12,rising,18.9,1.1,39.8
3,"Carroll County, Kentucky",21041,***,108.1,83.9,137.6,N/A,1,52,14,stable,1.3,-0.1,2.7
4,"Breathitt County, Kentucky",21025,***,101.3,80.8,125.8,N/A,1,55,18,stable,-0.9,-2.5,0.8

In [13]:
#Dropping irrelevant columns from the dataframe
mortdf.drop(mortdf.columns[[0,2,4,5,6,7,8,10]].values, axis=1,inplace=True)

In [14]:
incddf.head()

,State,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,US (SEER+NPCR)(1),00000,***,58.3,58.2,58.4,N/A,N/A,N/A,221568,falling,-2,-2.2,-1.9
1,"Union County, Florida(6)",12125,***,196.3,168.2,228.1,N/A,1,1,38,falling,-2.2,-4.1,-0.2
2,"Owsley County, Kentucky(7)",21189,***,164.7,122.8,218.2,N/A,1,61,11,stable,2.1,-0.6,4.8
3,"Breathitt County, Kentucky(7)",21025,***,149.1,123.9,178.3,N/A,1,36,26,stable,1.4,-1.9,4.9
4,"Hardin County, Illinois(6)",17069,***,133.6,96.4,183.8,N/A,1,49,9,*,*,*,*

In [15]:
incddf.drop(incddf.columns[[0,2,4,5,6,7,8,10]].values, axis=1,inplace=True)

In [16]:
incddf.rename(columns={incddf.columns[1]: "Incident_Rate", incddf.columns[2]:"Avg_Ann_Incidence"},inplace=True)

In [17]:
mortdf.rename(columns={mortdf.columns[1]:"Mortality_Rate", mortdf.columns[2]:"Avg_Ann_Deaths"},inplace=True)

In [18]:
mortdf.head()

,FIPS,Mortality_Rate,Avg_Ann_Deaths,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,00000,38.5,149208,-5,-5.4,-4.5
1,12125,147.9,27,-0.4,-1.7,0.9
2,51640,120.8,12,18.9,1.1,39.8
3,21041,108.1,14,1.3,-0.1,2.7
4,21025,101.3,18,-0.9,-2.5,0.8

In [19]:
incddf.head()

,FIPS,Incident_Rate,Avg_Ann_Incidence,Recent 5-Year Trend ([trend note]) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,00000,58.3,221568,-2,-2.2,-1.9
1,12125,196.3,38,-2.2,-4.1,-0.2
2,21189,164.7,11,2.1,-0.6,4.8
3,21025,149.1,26,1.4,-1.9,4.9
4,17069,133.6,9,*,*,*

In [20]:
pov = ddw.load_dataset('uscensusbureau/acs-2015-5-e-poverty')

tables = []
for i in pov.tables:
    if len(i) == 2:
        tables.append(i)

# remove Puerto Rico
tables.remove('pr')

In [21]:
print(len(tables))

51

In [22]:
np.array(tables)

array(['ak', 'al', 'ar', 'az', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
       'hi', 'ia', 'id', 'il', 'in', 'ks', 'ky', 'la', 'ma', 'md', 'me',
       'mi', 'mn', 'mo', 'ms', 'mt', 'nc', 'nd', 'ne', 'nh', 'nj', 'nm',
       'nv', 'ny', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
       'ut', 'va', 'vt', 'wa', 'wi', 'wv', 'wy'], dtype='<U2')

In [23]:
# Retrieve the Census poverty data from data.world
start = time.time()

# a string - the poverty columns we want from the Census ACS 
cols = '`State`, `StateFIPS`, `CountyFIPS`, `AreaName`, `B17001_002`, `B17001_003`, `B17001_017`'

# call the data for each state and concatenate
for i, state in enumerate(tables):
    if i == 0:
        povdf = ddw.query('uscensusbureau/acs-2015-5-e-poverty',
                  '''SELECT %s FROM `AK`
                     WHERE SummaryLevel=50''' % cols).dataframe 
    else:
        df = ddw.query('uscensusbureau/acs-2015-5-e-poverty',
                       '''SELECT %s FROM `%s`
                          WHERE SummaryLevel=50''' % (cols, state.upper())).dataframe
    
        povdf = pd.concat([povdf, df], ignore_index=True)

end = time.time()

print(end - start)


# Add leading zeros to the state and county FIPS codes
povdf['StateFIPS'] = povdf.StateFIPS.astype(np.object_)\
                                    .apply(lambda x: str(x))\
                                    .str.pad(2, 'left', '0')
povdf['CountyFIPS'] = povdf.CountyFIPS.astype(np.object_)\
                                      .apply(lambda x: str(x))\
                                      .str.pad(3, 'left', '0')

povdf.rename(columns={'B17001_002':'All_Poverty', 'B17001_003':'M_Poverty', 'B17001_017':'F_Poverty'},
             inplace=True)

173.31814813613892

In [24]:
povdf.head()

,State,StateFIPS,CountyFIPS,AreaName,All_Poverty,M_Poverty,F_Poverty
0,AK,02,013,"Aleutians East Borough, Alaska",553,334,219
1,AK,02,016,"Aleutians West Census Area, Alaska",499,273,226
2,AK,02,020,"Anchorage Municipality, Alaska",23914,10698,13216
3,AK,02,050,"Bethel Census Area, Alaska",4364,2199,2165
4,AK,02,060,"Bristol Bay Borough, Alaska",69,33,36

In [25]:
cols = '`StateFIPS`, `CountyFIPS`,'\
       '`B19013_001`, `B19013A_001`, `B19013B_001`, `B19013C_001`, `B19013D_001`,'\
       '`B19013I_001`'

start = time.time()

for i, state in enumerate(tables):
    if i == 0:
        incomedf = ddw.query('uscensusbureau/acs-2015-5-e-income',
                  '''SELECT %s FROM `AK`
                     WHERE SummaryLevel=50''' % cols).dataframe 
    else:
        df = ddw.query('uscensusbureau/acs-2015-5-e-income',
                       '''SELECT %s FROM `%s`
                          WHERE SummaryLevel=50''' % (cols, state.upper())).dataframe
        incomedf = pd.concat([incomedf, df], ignore_index=True)

        end = time.time()

print(end - start)

incomedf['StateFIPS'] = incomedf.StateFIPS.astype(np.object_)\
                                .apply(lambda x: str(x))\
                                .str.pad(2, 'left', '0')
incomedf['CountyFIPS'] = incomedf.CountyFIPS.astype(np.object_)\
                                 .apply(lambda x: str(x))\
                                 .str.pad(3, 'left', '0')

incomedf.rename(columns={'B19013_001':'Med_Income', 'B19013A_001':'Med_Income_White', 
                         'B19013B_001':'Med_Income_Black', 'B19013C_001':'Med_Income_Nat_Am',
                         'B19013D_001':'Med_Income_Asian', 'B19013I_001':'Hispanic'}, inplace=True)

127.46555185317993

In [26]:
cols = '`StateFIPS`, `CountyFIPS`,'\
       '`B27001_004`, `B27001_005`, `B27001_007`, `B27001_008`,'\
       '`B27001_010`, `B27001_011`, `B27001_013`, `B27001_014`,'\
       '`B27001_016`, `B27001_017`, `B27001_019`, `B27001_020`,'\
       '`B27001_022`, `B27001_023`, `B27001_025`, `B27001_026`,'\
       '`B27001_028`, `B27001_029`, `B27001_032`, `B27001_033`,'\
       '`B27001_035`, `B27001_036`, `B27001_038`, `B27001_039`,'\
       '`B27001_041`, `B27001_042`, `B27001_044`, `B27001_045`,'\
       '`B27001_047`, `B27001_048`, `B27001_050`, `B27001_051`,'\
       '`B27001_053`, `B27001_054`, `B27001_056`, `B27001_057`'
# male <= 029   

start = time.time()

for i, state in enumerate(tables):
    if i == 0:
        hinsdf = ddw.query('uscensusbureau/acs-2015-5-e-healthinsurance',
                  '''SELECT %s FROM `AK`
                     WHERE SummaryLevel=50''' % cols).dataframe 
   
    else:
        df = ddw.query('uscensusbureau/acs-2015-5-e-healthinsurance',
                       '''SELECT %s FROM `%s`
                          WHERE SummaryLevel=50''' % (cols, state.upper())).dataframe
        hinsdf = pd.concat([hinsdf, df], ignore_index=True)

end = time.time()
print(end - start)

hinsdf['StateFIPS'] = hinsdf.StateFIPS.astype(np.object_)\
                                      .apply(lambda x: str(x))\
                                      .str.pad(2, 'left', '0')
hinsdf['CountyFIPS'] = hinsdf.CountyFIPS.astype(np.object_)\
                                        .apply(lambda x: str(x))\
                                        .str.pad(3, 'left', '0')

157.16000747680664

In [27]:
# columns representing males' health insurance statistics
males = ['`B27001_004`', '`B27001_005`', '`B27001_007`', '`B27001_008`',
           '`B27001_010`', '`B27001_011`', '`B27001_013`', '`B27001_014`',
           '`B27001_016`', '`B27001_017`', '`B27001_019`', '`B27001_020`',
           '`B27001_022`', '`B27001_023`', '`B27001_025`', '`B27001_026`',
           '`B27001_028`', '`B27001_029`']

# females' health insurance statistics
females = ['`B27001_032`', '`B27001_033`', '`B27001_035`', '`B27001_036`', 
           '`B27001_038`', '`B27001_039`', '`B27001_041`', '`B27001_042`', 
           '`B27001_044`', '`B27001_045`', '`B27001_047`', '`B27001_048`', 
           '`B27001_050`', '`B27001_051`', '`B27001_053`', '`B27001_054`', 
           '`B27001_056`', '`B27001_057`']

# separate the "with" and "without" health insurance columns
males_with = []
males_without = []
females_with = []
females_without = []

# strip the backticks
for i, j in enumerate(males):
    if i % 2 == 0:
        males_with.append(j.replace('`', ''))
    else:
        males_without.append(j.replace('`', ''))
        
for i, j in enumerate(females):
    if i % 2 == 0:
        females_with.append(j.replace('`', ''))
    else:
        females_without.append(j.replace('`', ''))

# Create features that sum all the individual age group
clist = [males_with, males_without, females_with, females_without]
newcols = ['M_With', 'M_Without', 'F_With', 'F_Without'] 

for col in newcols:
    hinsdf[col] = 0

for i in males_with:
    hinsdf['M_With'] += hinsdf[i]  
for i in males_without:
    hinsdf['M_Without'] += hinsdf[i]
for i in females_with:
    hinsdf['F_With'] += hinsdf[i]
for i in females_without:
    hinsdf['F_Without'] += hinsdf[i]

hinsdf['All_With'] = hinsdf.M_With + hinsdf.F_With
hinsdf['All_Without'] = hinsdf.M_Without + hinsdf.F_Without

# Remove all the individual age group variables
# but, save them as a df called hinsdf_extra (just in case)
hinsdf_extra = df.loc[:, df.columns[df.columns.str.contains('B27001')].values]
hinsdf.drop(df.columns[df.columns.str.contains('B27001')].values, axis=1, inplace=True)

In [28]:
dfs = [povdf, incomedf, hinsdf, incddf, mortdf]

In [29]:
dfs

[     State StateFIPS CountyFIPS                                   AreaName  \
 0       AK        02        013             Aleutians East Borough, Alaska
 1       AK        02        016         Aleutians West Census Area, Alaska
 2       AK        02        020             Anchorage Municipality, Alaska
 3       AK        02        050                 Bethel Census Area, Alaska
 4       AK        02        060                Bristol Bay Borough, Alaska
 5       AK        02        068                     Denali Borough, Alaska
 6       AK        02        070             Dillingham Census Area, Alaska
 7       AK        02        090       Fairbanks North Star Borough, Alaska
 8       AK        02        100                     Haines Borough, Alaska
 9       AK        02        105          Hoonah-Angoon Census Area, Alaska
 10      AK        02        110            Juneau City and Borough, Alaska
 11      AK        02        122            Kenai Peninsula Borough, Alaska
 12      AK        02        130          Ketchikan Gateway Borough, Alaska
 13      AK        02        150              Kodiak Island Borough, Alaska
 14      AK        02        158               Kusilvak Census Area, Alaska
 15      AK        02        164         Lake and Peninsula Borough, Alaska
 16      AK        02        170          Matanuska-Susitna Borough, Alaska
 17      AK        02        180                   Nome Census Area, Alaska
 18      AK        02        185                North Slope Borough, Alaska
 19      AK        02        188           Northwest Arctic Borough, Alaska
 20      AK        02        195                 Petersburg Borough, Alaska
 21      AK        02        198  Prince of Wales-Hyder Census Area, Alaska
 22      AK        02        220             Sitka City and Borough, Alaska
 23      AK        02        230               Skagway Municipality, Alaska
 24      AK        02        240    Southeast Fairbanks Census Area, Alaska
 25      AK        02        261         Valdez-Cordova Census Area, Alaska
 26      AK        02        275          Wrangell City and Borough, Alaska
 27      AK        02        282           Yakutat City and Borough, Alaska
 28      AK        02        290          Yukon-Koyukuk Census Area, Alaska
 29      AL        01        001                    Autauga County, Alabama
 ...    ...       ...        ...                                        ...
 3112    WV        54        097               Upshur County, West Virginia
 3113    WV        54        099                Wayne County, West Virginia
 3114    WV        54        101              Webster County, West Virginia
 3115    WV        54        103               Wetzel County, West Virginia
 3116    WV        54        105                 Wirt County, West Virginia
 3117    WV        54        107                 Wood County, West Virginia
 3118    WV        54        109              Wyoming County, West Virginia
 3119    WY        56        001                     Albany County, Wyoming
 3120    WY        56        003                   Big Horn County, Wyoming
 3121    WY        56        005                   Campbell County, Wyoming
 3122    WY        56        007                     Carbon County, Wyoming
 3123    WY        56        009                   Converse County, Wyoming
 3124    WY        56        011                      Crook County, Wyoming
 3125    WY        56        013                    Fremont County, Wyoming
 3126    WY        56        015                     Goshen County, Wyoming
 3127    WY        56        017                Hot Springs County, Wyoming
 3128    WY        56        019                    Johnson County, Wyoming
 3129    WY        56        021                    Laramie County, Wyoming
 3130    WY        56        023                    Lincoln County, Wyoming
 3131    WY        56        025                    Natrona County, Wyoming
 3132    WY        56        027                   Niobrara County, Wyoming
 3133    WY        56        029                       Park County, Wyoming
 3134    WY        56        031                     Platte County, Wyoming
 3135    WY        56        033                   Sheridan County, Wyoming
 3136    WY        56        035                   Sublette County, Wyoming
 3137    WY        56        037                 Sweetwater County, Wyoming
 3138    WY        56        039                      Teton County, Wyoming
 3139    WY        56        041                      Uinta County, Wyoming
 3140    WY        56        043                   Washakie County, Wyoming
 3141    WY        56        045                     Weston County, Wyoming

       All_Poverty  M_Poverty  F_Poverty
 0             553        334        219
 1             499        273        226
 2           23914      10698      13216
 3            4364       2199       2165
 4              69         33         36
 5             254        139        115
 6             894        446        448
 7            7752       3523       4229
 8             135         74         61
 9             252        102        150
 10           2110       1145        965
 11           5558       2596       2962
 12           1640        792        848
 13           1552        962        590
 14           2622       1290       1332
 15            247        119        128
 16           9454       4346       5108
 17           2592       1399       1193
 18            976        532        444
 19           1824        951        873
 20            327        174        153
 21            921        475        446
 22            798        424        374
 23             44         16         28
 24           1011        507        504
 25           1029        598        431
 26            279        153        126
 27             35         25         10
 28           1252        666        586
 29           7057       2983       4074
 ...           ...        ...        ...
 3112         4189       1928       2261
 3113         8468       3971       4497
 3114         2307       1033       1274
 3115         3169       1354       1815
 3116          792        291        501
 3117        14825       6309       8516
 3118         4934       2320       2614
 3119         9510       4748       4762
 3120         1408        632        776
 3121         3412       1380       2032
 3122         2280        948       1332
 3123         1308        486        822
 3124          362        206        156
 3125         5637       2586       3051
 3126         2261       1048       1213
 3127          500        140        360
 3128          534        294        240
 3129         9369       3777       5592
 3130         1435        662        773
 3131         8407       3605       4802
 3132          328        154        174
 3133         2024        492       1532
 3134         1391        562        829
 3135         2381       1210       1171
 3136          812        453        359
 3137         5058       2177       2881
 3138         1638       1026        612
 3139         2845       1453       1392
 3140         1137        489        648
 3141          958        354        604

 [3142 rows x 7 columns],
      StateFIPS CountyFIPS  Med_Income  Med_Income_White  Med_Income_Black  \
 0           02        013     61518.0           72639.0           31250.0
 1           02        016     84306.0           97321.0           93750.0
 2           02        020     78326.0           87235.0           50535.0
 3           02        050     51012.0           92647.0           73661.0
 4           02        060     79750.0           88000.0               NaN
 5           02        068     81544.0           81029.0               NaN
 6           02        070     54173.0           81161.0               NaN
 7           02        090     71068.0           74242.0           56353.0
 8           02        100     58750.0           67888.0               NaN
 9           02        105     52419.0           64000.0               NaN
 10          02        110     85746.0           90553.0          106964.0
 11          02        122     63684.0           64663.0          122660.0
 12          02        130     64222.0           73313.0               NaN
 13          02        150     70887.0           82857.0           26827.0
 14          02        158     38229.0           63750.0               NaN
 15          02        164     50781.0           72500.0               NaN
 16          02        170     72983.0           74141.0           55577.0
 17          02        180     48868.0           85455.0               NaN
 18          02        185     72576.0           86250.0          107500.0
 19          02        188     63648.0           99444.0               NaN
 20          02        195     67935.0           64813.0               NaN
 21          02        198     48523.0           53185.0           31250.0
 22          02        220     70376.0           81029.0          143125.0
 23          02        230     69318.0           72589.0               NaN
 24          02        240     62670.0           71349.0           51563.0
 25          02        261     78810.0           82090.0               NaN
 26          02        275     48603.0           53295.0               NaN
 27          02        282     72500.0           76250.0               NaN
 28          02        290     38491.0           63000.0               NaN
 29          01        001     51281.0           56854.0           32073.0
 ...        ...        ...         ...               ...               ...
 3112        54        097     40330.0           40803.0               NaN
 3113        54        099     36318.0           36313.0               NaN
 3114        54        101     29086.0           29295.0               NaN
 3115        54        103     39096.0           39301.0               NaN
 3116        54        105     39352.0           38873.0               NaN
 3117        54        107     41884.0           42134.0           31188.0
 3118        54        109     33730.0           33828.0               NaN
 3119        56        001     42834.0           43768.0               NaN
 3120        56        003     51679.0           51894.0               NaN
 3121        56        005     80060.0           81018.0               NaN
 3122        56        007     56825.0           58156.0           30923.0
 3123        56        009     62307.0           62073.0               NaN
 3124        56        011     60445.0           60685.0               NaN
 3125        56        013     52773.0           54942.0           32083.0
 3126        56        015     42689.0           44524.0               NaN
 3127        56        017     45278.0           45521.0               NaN
 3128        56        019     54065.0           53975.0               NaN
 3129        56        021     60706.0           63653.0           48929.0
 3130        56        023     66647.0           66896.0               NaN
 3131        56        025     56871.0           58367.0           24891.0
 3132        56        027     40398.0           40739.0               NaN
 3133        56        029     56363.0           56992.0           35653.0
 3134        56        031     38500.0           40133.0               NaN
 3135        56        033     55455.0           56134.0               NaN
 3136        56        035     81772.0           79590.0               NaN
 3137        56        037     69022.0           69333.0           23535.0
 3138        56        039     75325.0           77651.0               NaN
 3139        56        041     56569.0           56532.0               NaN
 3140        56        043     47652.0           48110.0               NaN
 3141        56        045     57738.0           57842.0               NaN

      Med_Income_Nat_Am Med_Income_Asian  Hispanic
 0                54750            62679   51250.0
 1                48750            81250   77500.0
 2                53935            63757   53926.0
 3                41594           110625  160114.0
 4                63333              NaN   25625.0
 5                47500              NaN       NaN
 6                42212              NaN   86458.0
 7                48333            56339   55284.0
 8                45714              NaN       NaN
 9                35625              NaN   68500.0
 10               57821            80893   76083.0
 11               46458            58125   64148.0
 12               45536            45859   83250.0
 13               48179            56585   87000.0
 14               37238           155417   64167.0
 15               38482              NaN       NaN
 16               56724            53789   77367.0
 17               37277            78056   86607.0
 18               59554           126964   88563.0
 19               52227            69375       NaN
 20               60417            61875  106250.0
 21               42404              NaN       NaN
 22               40625            75000   58333.0
 23               43750              NaN   54479.0
 24               20774            33750   78750.0
 25               45000           105417       NaN
 26               31250            51250       NaN
 27               45625           127188       NaN
 28               29750            76250       NaN
 29                 NaN             2499   61296.0
 ...                ...              ...       ...
 3112               NaN              NaN       NaN
 3113               NaN           246300   72571.0
 3114               NaN              NaN       NaN
 3115               NaN              NaN       NaN
 3116               NaN              NaN       NaN
 3117             52742              NaN   32500.0
 3118               NaN              NaN       NaN
 3119               NaN            21437   37286.0
 3120               NaN            47917   40000.0
 3121             70833            82750   60970.0
 3122            110114              NaN   43472.0
 3123             85391              NaN   69615.0
 3124               NaN              NaN   35089.0
 3125             45569            39412   37596.0
 3126             40714              NaN   40417.0
 3127               NaN              NaN       NaN
 3128               NaN              NaN       NaN
 3129               NaN              NaN   42148.0
 3130             55750            38958   39258.0
 3131             41949              NaN   40732.0
 3132               NaN              NaN       NaN
 3133             51000              NaN   50625.0
 3134               NaN              NaN   17946.0
 3135             60461              NaN   48021.0
 3136               NaN              NaN  127586.0
 3137               NaN              NaN   53175.0
 3138               NaN              NaN   41619.0
 3139               NaN              NaN   40194.0
 3140               NaN              NaN   29740.0
 3141               NaN              NaN   31875.0

 [3142 rows x 8 columns],
      StateFIPS CountyFIPS  M_With  M_Without  F_With  F_Without  All_With  \
 0           02        013     876       1317     566        540      1442
 1           02        016    2470        769    1707        564      4177
 2           02        020  120747      23245  122426      21393    243173
 3           02        050    6396       2708    6627       1774     13023
 4           02        060     419        124     349         67       768
 5           02        068     822        253     674        250      1496
 6           02        070    1678        900    1837        546      3515
 7           02        090   40605       6957   40210       5322     80815
 8           02        100     960        422     944        228      1904
 9           02        105     798        328     711        288      1509
 10          02        110   13739       2433   13582       2213     27321
 11          02        122   22391       6435   21668       5433     44059
 12          02        130    5339       1428    5527       1082     10866
 13          02        150    4941       1920    4943       1479      9884
 14          02        158    2762       1427    2921        791      5683
 15          02        164     445        286     513        230       958
 16          02        170   39282       9314   37751       8084     77033
 17          02        180    3506       1605    3430       1114      6936
 18          02        185    4847       1248    2579        910      7426
 19          02        188    2690       1455    2542       1021      5232
 20          02        195    1310        381    1193        320      2503
 21          02        198    2209       1252    2046        862      4255
 22          02        220    3635        841    3591        692      7226
 23          02        230     380        147     371        101       751
 24          02        240    2889        853    2454        666      5343
 25          02        261    3670       1292    3566        884      7236
 26          02        275     941        280     926        221      1867
 27          02        282     289         78     217         59       506
 28          02        290    1795       1225    1692        907      3487
 29          01        001   23500       2781   25417       2727     48917
 ...        ...        ...     ...        ...     ...        ...       ...
 3112        54        097   10452       1736   10744       1471     21196
 3113        54        099   17510       2711   18273       2887     35783
 3114        54        101    3713        652    3833        671      7546
 3115        54        103    6968        930    7266        895     14234
 3116        54        105    2685        251    2492        413      5177
 3117        54        107   36251       5402   40175       4243     76426
 3118        54        109    9990       1311   10135       1352     20125
 3119        56        001   17650       1926   16276       1516     33926
 3120        56        003    4937        968    4867        900      9804
 3121        56        005   21583       3092   19806       3159     41389
 3122        56        007    6819       1089    6058        996     12877
 3123        56        009    6497        587    6052        902     12549
 3124        56        011    3201        479    3060        440      6261
 3125        56        013   15856       4060   16468       3762     32324
 3126        56        015    5672        964    5569        723     11241
 3127        56        017    1942        395    2048        319      3990
 3128        56        019    4058        449    3660        379      7718
 3129        56        021   40089       5563   41797       4991     81886
 3130        56        023    8316       1002    7928        941     16244
 3131        56        025   33677       6119   33595       5518     67272
 3132        56        027    1011        142     931        148      1942
 3133        56        029   12141       1955   12766       1857     24907
 3134        56        031    3579        837    3622        602      7201
 3135        56        033   12684       1703   13415       1471     26099
 3136        56        035    4509        822    4067        697      8576
 3137        56        037   19891       3318   18600       2683     38491
 3138        56        039    8948       2558    9555       1192     18503
 3139        56        041    9132       1413    8711       1503     17843
 3140        56        043    3349        691    3490        703      6839
 3141        56        045    2927        454    3087        314      6014

       All_Without
 0            1857
 1            1333
 2           44638
 3            4482
 4             191
 5             503
 6            1446
 7           12279
 8             650
 9             616

In [30]:
# create FIPS features
for df in [povdf, incomedf, hinsdf]:
    df['FIPS'] = df.StateFIPS + df.CountyFIPS
    df.drop(['StateFIPS', 'CountyFIPS'], axis=1, inplace=True)

In [31]:
# use the pandas isin() method to see the intersections of FIPS features
# across dataframes
[[i, ii, sum(pd.Series(j.FIPS.unique()).isin(dfs[ii].FIPS))] 
    for i, j in enumerate(dfs) for ii in range(len(dfs))]

[[0, 0, 3142],
 [0, 1, 3142],
 [0, 2, 3142],
 [0, 3, 3134],
 [0, 4, 3134],
 [1, 0, 3142],
 [1, 1, 3142],
 [1, 2, 3142],
 [1, 3, 3134],
 [1, 4, 3134],
 [2, 0, 3142],
 [2, 1, 3142],
 [2, 2, 3142],
 [2, 3, 3134],
 [2, 4, 3134],
 [3, 0, 3134],
 [3, 1, 3134],
 [3, 2, 3134],
 [3, 3, 3142],
 [3, 4, 3142],
 [4, 0, 3134],
 [4, 1, 3134],
 [4, 2, 3134],
 [4, 3, 3142],
 [4, 4, 3142]]

In [32]:
# look at the number of unique FIPS values per dataframe
for i in dfs:
    print(len(i.FIPS.unique()))

3142
3142
3142
3142
3142

In [33]:
# check to see if all the FIPS values are 5 digits in length
dfs = [povdf, incomedf, hinsdf, incddf, mortdf] # our 5 dataframes to merge
for i, j in enumerate(dfs):
    lens = []
    for fips in j.FIPS.values:
        lens.append(len(fips))
    print(pd.Series(lens).value_counts(), '\n', '-'*10)

5    3142
dtype: int64
 ----------
5    3142
dtype: int64
 ----------
5    3142
dtype: int64
 ----------
5    3142
dtype: int64
 ----------
5    3142
dtype: int64
 ----------

In [34]:
for i, j in enumerate(dfs):
    if i == 0:
        fulldf = j.copy()
    else:
        fulldf = fulldf.merge(j, how='inner', on='FIPS')

In [35]:
fulldf.columns

Index(['State', 'AreaName', 'All_Poverty', 'M_Poverty', 'F_Poverty', 'FIPS',
       'Med_Income', 'Med_Income_White', 'Med_Income_Black',
       'Med_Income_Nat_Am', 'Med_Income_Asian', 'Hispanic', 'M_With',
       'M_Without', 'F_With', 'F_Without', 'All_With', 'All_Without',
       'Incident_Rate', 'Avg_Ann_Incidence',
       'Recent 5-Year Trend ([trend note]) in Incidence Rates',
       'Lower 95% Confidence Interval.1', 'Upper 95% Confidence Interval.1',
       'Mortality_Rate', 'Avg_Ann_Deaths',
       'Recent 5-Year Trend ([trend note]) in Death Rates',
       'Lower 95% Confidence Interval', 'Upper 95% Confidence Interval'],
      dtype='object')

In [36]:
fulldf.drop(fulldf.columns[[20,21,22,25,26,27]].values,axis=1,inplace=True)

In [37]:
fulldf.shape

(3134, 22)

In [38]:
fulldf.columns

Index(['State', 'AreaName', 'All_Poverty', 'M_Poverty', 'F_Poverty', 'FIPS',
       'Med_Income', 'Med_Income_White', 'Med_Income_Black',
       'Med_Income_Nat_Am', 'Med_Income_Asian', 'Hispanic', 'M_With',
       'M_Without', 'F_With', 'F_Without', 'All_With', 'All_Without',
       'Incident_Rate', 'Avg_Ann_Incidence', 'Mortality_Rate',
       'Avg_Ann_Deaths'],
      dtype='object')

In [39]:
fulldf.head()

,State,AreaName,All_Poverty,M_Poverty,F_Poverty,FIPS,Med_Income,Med_Income_White,Med_Income_Black,Med_Income_Nat_Am,...,M_With,M_Without,F_With,F_Without,All_With,All_Without,Incident_Rate,Avg_Ann_Incidence,Mortality_Rate,Avg_Ann_Deaths
0,AK,"Aleutians East Borough, Alaska",553,334,219,02013,61518.0,72639.0,31250.0,54750,...,876,1317,566,540,1442,1857,*,3 or fewer,*,3 or fewer
1,AK,"Aleutians West Census Area, Alaska",499,273,226,02016,84306.0,97321.0,93750.0,48750,...,2470,769,1707,564,4177,1333,*,3 or fewer,*,3 or fewer
2,AK,"Anchorage Municipality, Alaska",23914,10698,13216,02020,78326.0,87235.0,50535.0,53935,...,120747,23245,122426,21393,243173,44638,51.3,126,33.1,80
3,AK,"Bethel Census Area, Alaska",4364,2199,2165,02050,51012.0,92647.0,73661.0,41594,...,6396,2708,6627,1774,13023,4482,51,6,39.7,4
4,AK,"Bristol Bay Borough, Alaska",69,33,36,02060,79750.0,88000.0,NaN,63333,...,419,124,349,67,768,191,*,3 or fewer,*,3 or fewer

In [40]:
for col in fulldf.columns:
    print((col,sum(fulldf[col].isnull())))

('State', 0)
('AreaName', 0)
('All_Poverty', 0)
('M_Poverty', 0)
('F_Poverty', 0)
('FIPS', 0)
('Med_Income', 1)
('Med_Income_White', 2)
('Med_Income_Black', 1210)
('Med_Income_Nat_Am', 1660)
('Med_Income_Asian', 1757)
('Hispanic', 681)
('M_With', 0)
('M_Without', 0)
('F_With', 0)
('F_Without', 0)
('All_With', 0)
('All_Without', 0)
('Incident_Rate', 0)
('Avg_Ann_Incidence', 0)
('Mortality_Rate', 0)
('Avg_Ann_Deaths', 0)